// src/components/2-molecules/CardPlaceholder/card-placeholder.component.scss
.card-placeholder {
  width: 45px;
  height: 70px;
  border: 1.5px solid rgba(173, 112, 255, 0.5);
  border-radius: 8px;
}