// src/components/1-atoms/VotingCard/voting-card.component.scss
.voting-card {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1.5px solid rgba(173, 112, 255, 0.5);
  border-radius: 8px;
  color: white;
  width: 50px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    border-color: white;
  }

  // Style for the selected card
  &--selected {
    background-color: #8c52ff; // Light purple
    border-color: #c4a7ff;
    transform: translateY(-10px); // Raise it higher
  }

  // Style for icons
  .icon {
    width: 28px;
    height: 28px;
  }
}